@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9 Compat Modes */
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* Modern Browsers */
    url('../font/iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../font/iconfont.svg#iconfont') format('svg'); /* Legacy iOS */
}
/*css3属性选择器  选中以'icon_'开头 和包含'icon_'*/
[class^='icon_'],[class*='icon_']{
    font-family: 'iconfont';
    font-weight: normal;
    font-style: normal;
    /*去除字体图标锯齿和模糊的情况*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header .icon_weixin:before{
    content: '\e7e5';
    font-size: 15px;
}
.header .icon_arrowdown:before {
    content: '\e62e';
}
.header .icon_phone:before {
    content: '\e622';
    font-size: 15px;
}
.header .icon_qq:before {
    content: '\e623';
    font-size: 15px;
}
.navbar .icon_sanjiaodown:before {
    content: '\f0122';
}
.navbar .icon_arrowright:before {
    content: '\e62d';
    font-size: 14px;
}
.server .icon_qq:before {
    content: '\e623';
}
.server .icon_jiahao:before {
    content: '\e612';
}
.back .icon_arrowup:before {
    content: '\e62c';
}

body {
    position: relative;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale;/*firefox*/
    -webkit-user-select: none;
    overflow-x: hidden;
}
a {
    color: #2a333c;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;

}
figure {
    margin: 0;
}
.point {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #666;
    text-align: center;
}
.top-box {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 100px;
    background-color: #eee;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.top-box .top-box-left {
    float: left;

}
.top-box .top-box-right {
    float: right;
}
.top-box .top-box-right li {
    position: relative;
    float: left;
    margin-right: 30px;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.top-box .top-box-right li:hover {
    color: #55acee;
}
.top-box .top-box-right li:hover a {
    color: #55acee;
}
.top-box .top-box-right li:hover .weixin-hide {
    display: block;
    height: 150px;
    opacity: 1;
    filter:alpha(opacity=1);
}
.top-box .top-box-right .weixin-hide {
    position: absolute;
    width: 150px;
    height: 0;
    left: -28px;
    top: 32px;
    z-index: 10;
    opacity: 0;
    filter:alpha(opacity=0);
    border: 1px solid #e4eaec;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.05);
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
    background-color: #fff;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.top-box .top-box-right .weixin-hide img {
    width: 100%;
    height: 100%;
}
.top-box .top-box-right .contact-hide {
    display: none;
    position: absolute;
    left: -23px;
    top: 31px;
    width: 130px;
    height: 160px;
    padding: 15px 15px 5px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0;
    filter:alpha(opacity=0);
    border: 1px solid #e4eaec;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.05);
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.top-box .top-box-right li:hover .contact-hide {
    display: block;
    opacity: 1;
    filter:alpha(opacity=1);
}

/*导航*/
nav {
    width: 100%;
    min-height: 48px;
}
nav .navbar-container {
    width: 1170px;
    margin: 0 auto;
}
.logo-box {
    width: 100%;
    height: 60px;
    margin: 15px 0;
}
.logo-box .logo-pic {
    float: left;
}
.logo-box .logo-pic a {
    display: block;
    width: 200px;
    height: 65px;
}
.logo-box .logo-pic img {
    width: 100%;
    height: 100%;
}
.logo-box > p {
    float: right;
    letter-spacing: 1px;
    line-height: 60px;
    color: #9d9d9d;
    font-size: 16px;
    font-weight: bold;
}
.tool-box .slidenav {
    float: left;
    width: 240px;
    line-height: 42px;

}
.tool-box .slidenav .sn-title {
    background-color: #055bc3;
}
.tool-box .slidenav .sn-title > span:first-child {
    margin-left: 22px;
    color: #fff;
    font-size: 14px;
}
.tool-box .slidenav .sn-title span:nth-child(2) {
    color: #fff;
    margin-left: 120px;
}
.tool-box .sn-box {
    background: rgba(36,136,200,0.78);
}
.tool-box .sn-box > ul {
    position: relative;
}

.tool-box .sn-box > ul > li{
    text-align: left;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #10a4fc;
    z-index: 20;
    cursor: pointer;
}
.tool-box .sn-box .sn-box-left:hover p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.tool-box .sn-box .sn-box-left {
    width: 100%;
    max-height: 97px;
    padding: 0 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.tool-box .sn-box .sn-box-left .icon_arrowright {
    float: right;
}
.tool-box .sn-box .sn-box-left p:nth-child(2) a{
    font-size: 12px;
    color: #fff;
    margin-right: 8px;
}
.tool-box .sn-box .sn-box-right {
    position: absolute;
    left: 240px;
    top: 0;
    width: 938px;
    max-height: 433px;
    border: 1px solid #1786ca;
    border-left: none;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.tool-box .sn-box ul li:hover .sn-box-right {
    opacity: 1;
    visibility: visible;

}
.sn-box-right .main {
    width: 938px;
    min-height: 428px;
    text-align: left;
    overflow: hidden;
}
.sn-box-right .main .main-left {
    float: left;
    width: 660px;
    padding: 0 21px 0 14px;
    height: 428px;
    border-right: 1px solid #e5e5e5;
    background: url("../images/main-leftbg.jpg") no-repeat center;
    background-size: cover;
}
.sn-box-right .main .sec-list > span {
    display: block;
    float: left;
    width: 120px;
    margin-right: 22px;
    font-weight: bold;
}
.sn-box-right .main .main-left .sec-text {
    float: right;
    padding-bottom: 13px;
    border-bottom: 1px dashed #cfcfcf;
}
.sn-box-right .main .main-left .sec-text ul {
    width: 518px;
    max-height: 96px;
    overflow: hidden;
    padding: 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sn-box-right .main .main-left .sec-text li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
    font-size: 14px;
}
.sn-box-right .main .main-left .sec-text li a {
    color: #666;
}
.sn-box-right .main .main-left .sec-text li a:hover {
    color: #62a8ea;
}
.sn-box-right .main .main-right {
    float: right;
    width: 242px;
    height: 428px;
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sn-box-right .main .main-right .sec-pic {
    width: 100%;
    height: 211px;
    border-bottom: 1px solid #eee;

}
.sn-box-right .main .main-right .sec-pic a {
    display: block;
    width: 100%;
    height: 200px;
}
.sn-box-right .main .main-right .sec-pic a img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
.tool-box .nav-list {
    float: left;
    height: 48px;
    line-height: 48px;;
}
.tool-box .nav-list > li {
    float: left;
}
.tool-box .nav-list > li a {
    padding: 10px 15px;
    font-size: 16px;
    overflow: hidden;
}
.tool-box .nav-list > li a:hover {
    color: #62a8ea;
}
.banner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 165px;
    z-index: -1;
}
.banner .banner-wrap {
    width: 100%;
    height: 431px;
}

/*创业必须的服务*/
.server {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
.server-container {
    height: 604px;
    width: 1170px;
    margin: 0 auto;
}
.server-container h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
}
.server-container h2 span {
    opacity: 0;
    position: absolute;
    margin-left: -90px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.server-container > p {
    position: relative;
    font-size: 18px;
    width: 80%;
    color: #666;
    margin: 0 auto;
}
.server-container > p span {
    opacity: 0;
    position: absolute;
    margin-left: -144px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
}
.server-tabs {
    width: 100%;
    height: 491px;
}
.server-tabs .server-nav {
    height: 75px;
    line-height: 75px;
    margin: 30px auto;
    padding: 0 257px;
    border-bottom: 1px solid rgba(212,212,212,0.7);
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.server-tabs .server-nav > li{
    height: 72px;
    float: left;
    margin-right: 60px;
    font-size: 16px;
    border-bottom: 2px solid #f5f5f5;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    cursor: pointer;
}
.server-tabs .server-nav li:hover {
    border-bottom: 2px solid rgba(212,212,212,0.5);
}
.server-tabs .server-nav li.active1 {
    border-bottom: 2px solid #62a8ea;
}
.server-tabs .server-nav li:last-child {
    margin: 0;
}
.server-tabs .server-nav li a {
    color: #666;
}
.server-tabs .tab-content {
    position: relative;
    width: 100%;
    height: 380px;
}
.server-tabs .tab-content .tab-pane {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    z-index: -1;

}
.server-tabs .tab-content .tab-pane.active2 {
    opacity: 1;
    z-index: 1;
}
.tab-content .tab-pane > ul {
    width: 100%;
    height: 100%;
}
.tab-content .tab-pane > ul li {
    float: left;
    width: 307px;
    height: 100%;
    background-color: #fff;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;

}
.tab-content .tab-pane > ul li:not(:first-child):hover {
    -moz-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15)
}
.tab-content .tab-pane:nth-child(1) > ul li:first-child {
    width: 246px;
    background: url("../images/tab-pane-bg1.jpg");
}
.tab-content .tab-pane:nth-child(2) > ul li:first-child {
    width: 246px;
    background: url("../images/tab-pane-bg2.jpg");
}
.tab-content .tab-pane:nth-child(3) > ul li:first-child {
    width: 246px;
    background: url("../images/tab-pane-bg3.jpg");
}
.tab-content .tab-pane:nth-child(4) > ul li:first-child {
    width: 246px;
    background: url("../images/tab-pane-bg4.jpg");
}
.tab-content .tab-pane:nth-child(5) > ul li:first-child {
    width: 246px;
    background: url("../images/tab-pane-bg5.jpg");
}
.tab-content .tab-pane > ul li:nth-child(2),
.tab-content .tab-pane > ul li:nth-child(3),
.tab-content .tab-pane > ul li:nth-child(4)
{
    border-right: 1px solid rgba(212,212,212,0.7);
}
.tab-pane > ul li .pane-title {
    width: 100%;
    height: 72px;
    line-height: 72px;
    padding-left: 36px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-pane > ul li .pane-desc {
    padding: 92px 32px 0;
}
.tab-pane > ul li .pane-desc p {
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: left;
}
.tab-pane > ul li .widget {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;

}
.tab-pane > ul li .widget > figure {
    text-align: center;
    margin-bottom: 25px;
}
.tab-pane .widget > figure img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    filter: grayscale(1);
}
.tab-pane .widget > figure a {
    display: block;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}
.tab-pane > ul li .widget:hover img{
    filter: grayscale(0);
}
.tab-pane > ul li .widget:hover a.widget-desc {
    color: #62a8ea;
}
.tab-pane .widget > p {
    max-height: 90px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    text-align: center;
    overflow: hidden;
}
.tab-pane .widget > strong {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #f96868;
    font-weight: normal;
    margin: 15px 0 24px;
}
.tab-pane .widget > strong +p a {
    display: inline-block;
    margin: 0 15px;
}
.tab-pane .widget > strong +p a:first-child {
    background-color: #62a8ea;
}
.tab-pane .widget > strong +p a:last-child {
    background-color: #f96868;
}

.tab-pane .widget > strong +p a:hover {
    opacity: .8;
}
.tab-pane .widget > strong +p span[class^='icon_'] {
    display: inline-block;
    width: 95px;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}
/*专业顾问团队*/
.team {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #fff;
}
.team-container {
    width: 1170px;
    height: 403px;
    margin: 0 auto;
}
.team-container > h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.team-container > h2 > span {
    opacity: 0;
    position: absolute;
    margin-left: -195px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.team-container > p {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #666;
}
.team-container > p > span {
    opacity: 0;
    position: absolute;
    margin-left: -144px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
}
/*.team-container ul {*/
    /*position: relative;*/
    /*margin-top: 20px;*/
    /*box-sizing: border-box;*/
/*}*/
.team-container .picScroll-left {
    position: relative;
    width: 100%;
    height: 289px;
    margin-top: 60px;
    overflow: hidden;
    box-sizing: border-box;
}
.picList {
    box-sizing: border-box;
}
.picList li{
    float: left;
    width: 245px;
    height: 100%;
    margin-right: 63px;
}
.picList li .pic-head {
    width: 163px;
    height: 163px;
    margin: 0 auto;

}
.picList li .pic-head img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.picList li > p {
    text-align: center;
    color: #666;
}

.picList li > p:nth-child(2) {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.picList li > p:nth-child(2) > span {
    font-weight: normal;
    font-size: 12px;
}
.picList li > p:nth-child(3) {
    line-height: 26px;
    text-align: justify;
}
.picList li > p:nth-child(4) {
    font-size: 14px;
    margin-top: 10px;
}
.picList li > p:nth-child(4) > span {
    font-size: 20px;
    color: #ff7f00;
    font-weight: bold;
}

/*流程服务*/
.flow {
    width: 100%;
    background-color: #1585c9;
}
.flow .flow-container {
    width: 1170px;
    height: 505px;
    margin: 0 auto;
    padding: 70px 0;
    box-sizing: border-box;
}
.flow .flow-container h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.flow-container > h2 > span {
    opacity: 0;
    position: absolute;
    margin-left: -135px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.flow .flow-container > p {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
}
.flow-container > p > span {
    opacity: 0;
    position: absolute;
    margin-left: -128px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
}
.flow-container .flow-pic {
    opacity: 0;
}
.flow-container > ul {
    margin-top: 26px;
    box-sizing: border-box;
}
.flow-container > ul > li {
    float: left;
    width: 16.6%;
    max-height: 157px;
    text-align: center;
    overflow: hidden;
}
.flow-container > ul > li >p {
    width: 100%;
    color: #fff;
    font-size: 20px;
}
.flow-container > ul > li >p:last-child {
    font-size: 14px;
    margin-top: 10px;
}
.flow-container .flow-pic {
    width: 100%;
    height: 132px;
    margin-top: 80px;
}
.info {
    width: 100%;
    background-color: #f3f3f3;
}
.info .info-container {
    width: 1170px;
    height: 543px;
    margin: 0 auto;
    padding: 70px 0;
    box-sizing: border-box;
}
.info .info-container > h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.info-container > h2 > span {
    opacity: 0;
    position: absolute;
    margin-left: -90px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.info .info-container > p {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #666;
}
.info .info-container > p > span {
    opacity: 0;
    position: absolute;
    margin-left: -171px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
}
.info .info-container .more {
    float: right;
    display: block;
    width: 90px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.info .info-container .more:hover {
    color: #fff;
    background-color: #FFA500;
    border: 0;

}
.info-container .info-list {
    margin-top: 60px;
}
.info-container .info-list li {
    float: left;
    width: 360px;
    margin-top: 30px;
    margin-right: 45px;
    font-size: 16px;
}
.info-container .info-list li:nth-child(3n+0) {
    margin-right: 0;
}
.info-container .info-list li > div {
    height: 85px;
    float: left;
}
.info-container .info-list li > div:first-child {
    width: 85px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 100%;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.info-container .info-list li > div:first-child:hover {
    border-color: #f3f3f3;
    background-color: #FFA500;
    color: #fff;
}
.info-container .info-list li > div:last-child {
    width: 263px;
}
.info-container .info-list li > div:last-child p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.info-container .info-list li > div:last-child p:last-child {
    line-height: 24px;
    font-size: 14px;
    color: #76838f;
}
.info-list li > div:first-child > p {
    text-align: center;
}
.info-list li > div:first-child > p:first-child {
    margin-top: 10px;
    font-size: 28px;
}

/*合作伙伴*/
.partner {
    position: relative;
    width: 100%;
}
.partner .partner-container {
    width: 1170px;
    height: 508px;
    margin: 0 auto;
    padding: 70px 0;
    box-sizing: border-box;
}
.partner .partner-container > h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.partner .partner-container > h2 > span {
    opacity: 0;
    position: absolute;
    margin-left: -105px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.partner .partner-container > p {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #666;
}
.partner .partner-container > p > span {
    opacity: 0;
    position: absolute;
    margin-left: -99px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
}
.partner .partner-container > figure {
    margin-top: 70px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    background-color: #fff;
}
.partner .partner-container > figure img {
    display: block;
    margin: 0 auto;
}
.partner .partner-bg {
    position: absolute;
    width: 100%;
    height: 508px;
    left: 0;
    top: 0;
    z-index: -1;
}
.partner .partner-bg ul {
    width: 100%;
    background-color: #f7f8fa;
}
.partner .partner-bg ul li {
    float: none;
    width: 100%;
    height: 508px;

}
.partner .partner-bg ul li img {
    width: 100%;
    height: 100%;
}
/*联系我们*/
.contact {
    width: 100%;
    height: 492px;
    background-color: #4a4e53;
    color: #ccc;
    box-sizing: border-box;
}
.contact .contact-container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
}
.contact .contact-container > h2 {
    height: 40px;
    position: relative;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.contact .contact-container > h2 > span {
    opacity: 0;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
}
.contact .contact-container > p {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}
.contact .contact-container > p > span {
    opacity: 0;
    position: absolute;
    margin-left: -111px;
    margin-top: 18px;
    left: 50%;
    top: 50%;
    font-size: 14px;
}
.contact .contact-container > hr,
.contact .contact-txt > hr
{
    width: 100%;
    height: 1px;
    margin-top: 60px;
    background-color: #63686e;
}
.contact .contact-txt {
    width: 1170px;
    height: 255px;
    margin: 0 auto;
}
.contact .contact-txt .contact-txt-left {
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
}
.contact .contact-txt .contact-txt-left > p {
    line-height: 20px;
    text-align: justify;
    text-indent: 24px;
}
.contact .contact-txt .contact-txt-right {
    float: right;
    width: 24%;
    height: 100%;
    overflow: hidden;
}
.contact .contact-txt .contact-txt-right >p:nth-child(1) {
    margin-bottom: 20px;
    text-align: center;
    font-size: 43px;
    font-weight: bolder;
}
.contact .contact-txt .contact-txt-right >p:nth-child(2) {
    text-align: right;
    margin-bottom: 10px;
}
.contact .contact-txt .contact-txt-right >p:nth-child(3) {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.contact .contact-txt .contact-txt-right >p:nth-child(5) {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.contact .contact-txt > p {
    height: 21px;
    line-height: 21px;
    margin-top: 10px;
    font-size: 16px;
    overflow: hidden;
}
.contact .contact-txt > p > a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
}

/*底部*/
.footer {
    width: 100%;
}
.footer .footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}
.footer .footer-container > p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
}

/*回到顶部*/
.back {
    opacity: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    position: fixed;
    right: 10px;
    bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #62A8EA;
    cursor: pointer;
    z-index: 100;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.back.show {
    opacity: 1;
    bottom: 30px;
}