.main {
    width: 100%;
}
.main > p {
    height: 45px;
    line-height: 45px;
    padding: 0 96px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #f2f2f2;
}
.main > p a {
    color: #62a8ea;
}
.main .container {
    width: 1170px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 30px 0;
}
.main .container section {
    float: left;
    width: 70%;
    padding: 30px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main .container section h2 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: normal;
    color: #37474f;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .container section > p {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a3afb7;
    color: #a3afb7;
}
.main .container section > p > span {
    margin-right: 15px;
}
.main .container section > p i,
.main .container section > p data {
    font-style: normal;
    margin: 0 5px;
}
.main .container-txt {
    margin-bottom: 30px;
    border-bottom: 1px solid #a3afb7;
}
.main .container-txt figure {
    width: 620px;
    height: 400px;
    margin: 20px auto;
}
.main .container-txt figure img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .container-txt p {
    margin-bottom: 16px;
    line-height: 2;
    font-size: 14px;
    text-indent: 2em;
    color: #222;
}
.main .container section li {
    width: 40%;
    padding: 10px 20px;
    border: 1px solid #e4eaec;
    -moz-border-radius: 50px;
    -o-border-radius:50px;
    -webkit-border:50px;
    border-radius: 50px;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.main .container section li:hover {
    border-color: #62a8ea;
}
.main .container section li:hover a {
    color: #62a8ea;
}
.main .container section li:first-child {
    float: left;
}
.main .container section li:last-child {
    float: right;
}
.main .container section li a {
    display: block;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.main .container aside {
    float: right;
    width: 27%;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main aside > p {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #76838f;
    background-color: #eee;
}
.main aside ul {
    padding: 15px;
}
.main aside li span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background-color: #f2a654;
    border-radius: 50%;
}
.main aside li a {
    display: inline-block;
    width: 262px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
.main aside li data {
    display: block;
    padding: 15px;
    font-size: 14px;
    color: #666;
}